header {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40pt;
  color: antiquewhite;
}
h1 {
  border: 5px solid black;
  padding: 6px;
  text-align: center;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background.jpeg);
  color: antiquewhite;
}
.section-one {
  border: 5px ;
  width 100%;
}
.section-one img {
  border: 10px solid black;
  padding: 6px;
  margin: 6px;
  width: 285px;
}
