header {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40pt;
  color: antiquewhite;
  margin: 4px;
}
h1 {
  border: 5px solid black;
  padding: 6px;
  text-align: center;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background.jpeg);
  color: antiquewhite;
  margin: 4px;
}
.section-one {
  border: 5px ;
  text-align: center;
  margin: 4px;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background2.jpeg);
}
.section-one img {
  border: 5px solid silver;
  margin: 6px;
  width: 285px;
}
body {
  background-color: #051F20;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20pt;
  color: antiquewhite;
  height: 37px;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background3.jpeg);
  padding: 6px;
  background-color: black;
}
.column {
  float: left;
  width: 48.7%;
  border: 5px solid black;
  margin: 4px;
  background-color: antiquewhite;
  font-size: 15pt;
  padding: 3px;
}
.row after {
  content: "";
  display: table;
  clear: both;
}
.column img {
  width: 600px;
}
ul {
  font-weight: bold;
  font-size: 20pt;
}
ul p {
  font-weight: normal;
  font-size: 15pt;
}
#hobbies {
  font-style: italic;
  font-weight: normal;
}
span {
  background-color: #051F20;
  color: antiquewhite;
  font-style: italic;
  font-weight: bold;
}

