header {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40pt;
  color: antiquewhite;
}
h1 {
  border: 5px solid black;
  padding: 6px;
  text-align: center;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background.jpeg);
  color: antiquewhite;
}
.section-one {
  border: 5px ;
  text-align: center;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background2.jpeg);
}
.section-one img {
  border: 5px solid silver;
  margin: 6px;
  width: 285px;
}
body {
  background-color: antiquewhite;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-image: url(/home/bobo/Desktop/moringa-school-projects/ip-wk1/images/background3.jpeg);
  font-size: 20pt;
  color: antiquewhite;
  height: 37px;
  padding: 6px;
}
aside {
  float: left;
}

